*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/PTSans-Regular.ttf78) format("truetype");
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/PTSans-Italic.ttf) format("truetype");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/PTSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/PTSans-BoldItalic.ttf) format("ttf");
}

@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/PTSansNarrow-Bold.ttf) format(truetype);
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    background-color: #fbf7f4;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    
}

.page-header {
    color: #FFFFFF;
    background: #000000;
}

.navigation {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    list-style-type: none;
}

.navigation-user {
    max-width: 250px;
    margin-left: auto;
}

.navigation-user .navigation-link {
    min-width: 16px;
    min-height: 22px;
}

.navigation-link {
    display: block;
    padding: 24px 19px;
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.main-container {
    flex-grow: 1;
    padding-top: 64px;
    padding-bottom: 60px;
}

.main-index {
    background-image: url(../images/index-bg.jpg);
    background-color: #000000;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.main-inner {
    padding: 40px;
    color:#242424;
    background-color: #FBF7F4;
    background-image: url(../images/noisy-texture-80x80-o8-d27-c-1f1f1f-t1\ 3.png);
}

.page-container {
    width: 940px;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 64px;
}

.advantages {
    padding-bottom: 68px;
}

.advantages-title {
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    color: #FFFFFF;
}

.advantages-item {
    width: 277px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    color: #242424;
    background: url(../images/noisy-texture-80x80-o8-d27-c-1f1f1f-t1\ 3.png), #FBF7F4;
    margin-bottom: 32px;
    padding: 40px;
}

.index-columns:last-child {
    margin-bottom: 0;
}

.services {
    width: 390px;
    text-transform: uppercase;
}

.services-title {
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.services-list {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.services-price {
    color: #AF7842;
}

.gallery-title {
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    color: #242424;
    margin-bottom: 28px;
}

.gallery {
    width: 390px;
}

.contacts {
    font-weight: 700;
    width: 350px;
}

.contacts-title {
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.contacts-subtitle {
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #AF7842;
}

.contacts-phone {
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #242424;
}

.appointment {
    width: 430px;
}

.appointment-title {
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    color: #242424;
    margin-bottom: 28px;
}

.appointment-form {
    color: #595959;
}

.form-label {
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #242424;
}

.page-footer {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: url(../images/bg-footer.png), #242424;
    background-repeat: repeat;
}

.page-footer-container {
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 40px 0;
}

.footer-contacts-logo {
    margin-bottom: 27px;
}

.page-footer-title {
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-contacts {
    width: 190px;
    margin-right: 140px;
}

.footer-social {
    margin-left: auto;
    max-width: 190px;
}

.footer-social-title {
    margin-bottom: 14px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 36px;
}

.footer-social-item {
    width: 56px;
    height: 44px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #000000;
}

.footer-social-item:nth-child(3n) {
    margin-right: 0;
}

.page-footer a {
    color:#FFFFFF;
}

.page-footer .year {
    font-size: 14px;
    color: #DBB590;
}

.page-footer .about-text {
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.footer-contacts .footer-contacts-address-phone{
    display: block;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-contacts-map-link {
    display: block;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
}

.navigation-logo {
    width: 140px;
    margin-right: 100px;
    align-self: center;
}

.inner-header-title {
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;  
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #242424;
}

.breadcrumbs {
    display: flex;
    color: #242424;
    list-style-type: none;
}

.breadcrumbs-link {
    color: inherit;
    margin-right: 32px;
}

.catalog-products {
    display: flex;
}

.catalog-filter-title {
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-filter {
    width: 220px;
    margin-right: 20px;
}

.catalog-right-column {
    width: 700px;
}

.control-label {
    font-weight: 700;
}

.sorting-container {
    display: flex;
    margin-bottom: 16px;
    padding: 16px;
    background-color: #FFFFFF;
    color: #242424;
}

.sorting-container .button {
    width: 56px;
    height: 44px;
}

.sorting-type {
    margin-right: auto;
}

.button-light {
    color: #242424;
    background-color: #FFFFFF;
}

.product-list {
    list-style-type: none;
}

.product-card {
    background: #FFFFFF;
}

.product-card-link {
    text-decoration: none;
}

.product-card-title {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.product-card-price {
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #814B18;
}

.pagination-container {
    display: flex;
    padding: 16px;
    background-color: #FFFFFF;
}

.pagination {
    display: flex;
    list-style-type: none;
    background-color: #FFFFFF;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 44px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    align-items: flex-start;
    padding: 14px 20px;
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: none;
}

.pagination-show-more {
    box-sizing: border-box;
    /* padding-left: 20px;
    padding-right: 20px; */
    margin-left: auto;
}
.pagination-disabled {
    background-color: #595959;
}

.pagination-current {
    color: #242424;
    background: #FFFFFF;
}
